$mainColor:#ffffff;
$secondaryColor: #ff8b93;
$mainColorOpacity:#ff8b93bb;
$secondaryColorTrans:#ff8b9366;
$bg-hover:#ff8b9333;
$mainColorHover:#0082cb;
$bgWhite:rgba(255,255,255,.95);
$border:2px dotted #ff8b93;
$secColorLight: lighten($secondaryColor, 20%);
$marron:#ac4f59;

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
  }


  @font-face {
    font-family:Poppins-SemiBold;
    src: url(../webfonts/Poppins-SemiBold.ttf);
  }

@font-face {
    font-family: poppins-bold;
    src: url(../webfonts/Poppins-ExtraBold.ttf);
  }
  @font-face {
    font-family: poppins-medium;
    src: url(../webfonts/Poppins-Medium.ttf);
  }
  @font-face {
    font-family: Poppins-Light;
    src: url(../webfonts/Poppins-Light.ttf);
  }
  @font-face {
    font-family: Poppins-thin;
    src: url(../webfonts/Poppins-Thin.ttf);
  }

  @font-face{
      font-family: Poppins-ExtraLight;
      src: url(../webfonts/Poppins-ExtraLight.ttf);
  }


html {
    scroll-behavior: smooth !important;
  } 
  *{
      &:focus{
        box-shadow: none !important;   
      }
  }
body{
    color:$mainColor+cc;
    font-family: "Poppins-ExtraLight",arial,sans-serif;
    line-height: 1.7rem;
    overflow-x: hidden !important;
    ul{
        padding-left:0px;
        list-style-type: none;
        margin-bottom:0;
        }
    }
    
h2{
    color:$mainColor;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    font-weight: 300;
    font-family:'poppins-medium',arial,sans-serif;
}
p{
    font-size: 1.3rem;
    font-family: "Poppins-ExtraLight",arial,sans-serif;
    line-height: 1.7rem;
}

.btop{
    border-top:$border;
}
.bbottom{
    border-bottom:$border;
}
.mainTitle{
    color:$secondaryColor;
    text-transform: uppercase;
    font-family: "Poppins-SemiBold",Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.4rem;
}

.bg-soft,.bg-heavy,.bg-white{
    padding-top:3rem;
    padding-bottom:3rem;
}
.bg-soft{
background-color: #bc656e;
}
.bg-heavy{
background-color: #ac4f59;
}
.bg-white{
    background-color: #faf3f4 !important;
}
i, button, a, .btn,img {
    @include transition(all .35s cubic-bezier(0.56, 0.09, 0.63, 0.98));
}
a:hover{
    text-decoration: none !important;
}
input:focus,select:focus{
    box-shadow:none !important;
    border-color: #88888888  !important;
}
input[type=file]{
    text-indent: 0px !important;
}
button.btn{
    background-color: $secondaryColor;
    color:#fff !important;
    border:transparent !important;
    border-radius: 20px;
    font-family: "poppins-light";
    text-transform: uppercase;
    &:hover{
        background-color: $mainColorOpacity !important;
    }
}
.halfBorder{
    position: relative;
    &:before{
        content: "";
        position: absolute;
        height: 2px;
        width: 60%;
        bottom: -60%;
        left: 0;
        border-bottom: 2px dotted $marron+cc;
    }
}


.bgHover{
    position: relative;
    &:after
        {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 0;
            z-index: 1;
            background: rgba(0, 0, 0, .05);
            @include transition(all .35s cubic-bezier(0.56, 0.09, 0.63, 0.98));
        }
    &:hover:after{
        width:100%;
    }
}

.sticky{
    position: sticky !important;
    margin-top:-16vh !important;
    background-color: rgba(255,255,255,.9) !important;
    box-shadow: 0px 1px 5px 0px #66666666 !important;
    padding:0 !important;
    top:0 !important;
    .requestQuote{
        display: none;
    }
    .navbar_main{
        color:$marron !important;
        transition: none;
    }
    .navbar-brand{
        img{
            background-color: $marron;
            padding:.5rem 1rem;
            border-radius: 2px;
        }
    }
    .navbar{
        li.nav-item{
            &:hover{
                a{
                    color:#fff !important;
                }
            }
            &.active{
                a{
                    color:#fff !important;
                }
            }
            @media screen and (min-width:992px) {
                a{
                    color:#555 !important;
                }
            }
        }
        i.fa{
            @media screen and (max-width:991px) {
                color:#555 !important;
            }
        }
    }
}


.scroll-up {
    position: fixed;
    bottom: 50px;
    right: 25px;
    color: #eee;
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 1.5rem;
    text-align: center;
    display: none;
    cursor: pointer;
    z-index: 99;
    background-color: $marron+aa;
    border-radius: 2px;
    @include transition(all .35s cubic-bezier(0.56, 0.09, 0.63, 0.98));
    box-shadow:0px 0px 1px 2px #fff;
    &:hover{
        background-color: $marron;
    }
}


span[id]{
    height:16vh;
    margin-top:-16vh;
    display: block;
    visibility: hidden;
}
span[id='home']{
    margin-top:0px;
    height: 0;
}
.container{
    @media screen and (min-width:576px) {
        max-width:100%;
    }
    @media screen and (min-width:992px) {
        max-width: 1000px;
    }
    @media screen and (min-width:1200px) {
        max-width:1260px;
    }
    
}


.aboutusCont,.servicesCont, .priceCont, .clientsCont{
    .container-fluid{
        padding-top:3rem;
        padding-bottom: 3rem;
        border-top:$border;
        border-bottom:$border;
    }
}


/*******************************enquire Modal navbar*************************************/
#quoteModal{
    
    .modal-dialog{
        max-width:40%;
        font-size: 1em;
        @media screen and (max-width:1199px) {
            max-width:60%;
            font-size: .9em;
        }
        @media screen and (max-width:767px) {
            max-width:80%;
            font-size: .8em;
        }
        @media screen and (max-width:575px) {
            max-width:100%;
        }
        .modal-header{
            border-bottom:none;
            
            .close{
                background-color: $marron;
                color: #fff;
                font-size:3.5em;
                width: 1.3em;
                height:1.3em;
                line-height:.6em;
                opacity: 1;
                outline:none !important;
            }
        }
        .modal-body{
            padding:1em 3em;
            h2{
                font-size: 2.25em;
                font-family: "poppins-bold";
                color:$marron !important;
                text-transform: uppercase;
                margin-bottom: 2rem;
                margin-top: .5rem;
            }
           form{
             select, input{
                height: 46px;
                 border: 1px solid #b0b0b0;
                 font-weight: 700;
                 font-size: 1.2em;

             }
                input::placeholder{
                    color:#757575;
     
                }
  
            .form-group{
                margin-top:2rem;
                margin-bottom:2rem;
                font-size: 1em;
                button{
                    padding:.5rem 2rem;
                    font-size:18px;
                    font-weight: bold;
                    background-color: $marron;
                    margin-top:.5rem;
                    font-size: 1.1em;
                }
            }
           }
        }
    }
}
/**********************Header***********************/

    .navCont{
        position:absolute;
        top:1rem;
        width:100%;
        z-index: 100;
        .requestQuote{
            width:100%;
            text-align: right; 
            @media screen and (min-width:200px){
                margin-top: 0;  
            }
            @media screen and (min-width:768px){
                margin-top: 1rem;  
            }  
            @media screen and (min-width:992px){
                margin-top: 3rem;  
            } 
            
            button{
                display: inline-block;
                padding:2px 15px;
                margin-left:Auto;
                font-size: 1.1rem;
                @media screen and (max-width:767px){
                  font-size:.9rem;  
                }
            }
        }
        .navbar_main{
            background-color: transparent;
            border:none;
            font-size: 2rem;
            outline: none !important;
            color:#fff;
            @media screen and (max-width:575px) {
                font-size:1.5rem;
            }
        }
        .navbar-brand{
            margin-right:0 !important;
            max-width: 250px;
            width: 100%;  
            @media screen and (max-width:767px) {
                max-width: unset;
               }
            @media screen and (max-width:575px) {
             //   max-width: 150px;
               }

            img{
                width:80%;
                @media screen and (max-width:767px) {
                    width:60%;
                }
                @media screen and (max-width:575px) {
                    width: 30vw;
                }
            }
        }
        ul{
            @media screen and (max-width:991px) {
                background-color:#ffffffdd;
                li{
                    a{
                        color:$marron !important;
                    }
                }
            }
            li{
                margin-left:40px;
                @media screen and (max-width:1200px) {
                    margin-left:10px;
                }
                @media screen and (max-width:992px) {
                    margin-left:0px;
                }
                &.active,&:hover, &:focus{
                    a{
                        background-color: $secondaryColor;
                        color:#fff !important;
                    }
                }
                a{
                    color:#fff ;
                    text-transform: uppercase;
                    padding:3px 15px !important;
                    font-size: 1.1rem;
                    font-weight: bold;
                &.nav-link.active{
                    background-color: $secondaryColor;
                    color:#fff !important;
                }
                }
            }
        }
    }


/****************************the slider***************************/
.sliderCont{
    position: relative;
    .headerTitle{
        position: absolute;
        width:70%;
        color:$mainColor;
        left:50%;
        margin-left:-35%;
        text-align: center;
        top:45%;
        @media screen and (max-width:767px) {
           // top:50%;
           width:100%;
           left:0;
           margin-left: 0;;
        }
        h1,h3{
            text-transform: uppercase;
            margin-bottom:10px;
        } 
        h1{
            font-size: 6rem;
            font-family: "poppins-bold",Impact, 'Arial Narrow Bold', sans-serif;
            font-weight: bold;
            line-height: 5rem;
            @media screen and (max-width:1440px) {
                font-size: 4.5rem;
                line-height: 4rem;
            }
            @media screen and (max-width:1200px) {
                font-size: 4rem;
                line-height: 3rem;
            }
            @media screen and (max-width:991px) {
                font-size: 3rem;
                line-height: 2.5rem;
            }
            @media screen and (max-width:767px) {
                font-size: 2rem;
                line-height: 2rem;
            }
            @media screen and (max-width:575px) {
                font-size: 8vw;
                line-height: 2rem;
            }
        }
        h3{
            font-size: 2.5rem;
            font-family: "poppins-light",Arial, Helvetica, sans-serif;
            @media screen and (max-width:1440px) {
                font-size: 2rem;
            }
            @media screen and (max-width:1200px) {
                font-size: 1.25rem;
            }
            @media screen and (max-width:991px) {
                font-size: 1rem;
            }
            @media screen and (max-width:767px) {
                font-size: .8rem;
                
            }
            @media screen and (max-width:575px) {
                font-size: 4vw;
                
            }
        }

        p{
            font-size: 1.5rem;
            padding:0 6rem;
            line-height: 1.75rem;
            letter-spacing: 1px;
            font-family:'poppins-light',arial,sans-serif;
            @media screen and (max-width:1440px) {
                font-size: 1rem;
                line-height: 1.25rem;
            }
            @media screen and (max-width:1200px) {
               display: none;
            }
        }
        a{
            font-size: 1.7rem;
            margin-top: 30px;
            border-radius: 30px;
            padding-left:15px;
            color:#fff;
            padding-right: 15px;
            background-color:$secondaryColor;
            &:hover{
                background-color:$secondaryColor+aa;
            }
            text-transform: uppercase;
            @media screen and (max-width:1440px) {
                font-size: 1.2rem;
                padding:3px 10px;
                margin-top: 10px;
            }
            @media screen and (max-width:767px) {
                font-size: 1rem;
                padding:0 10px;
                margin-top: 5px;
            }
        }
    }
}
/**********************Our services***********************/
.servicesCont{
    .row{
        margin:2rem auto 0;
        .service-item{
            padding-right:2rem;
            padding-bottom: 1rem;
            @include transition(all .35s ease-in-out);
            @media screen  and (max-width:991px){
                margin-bottom:2rem;
            }
            &:hover{
                background-color: #00000022;
                border-radius: 5px;
                cursor: context-menu;
            }
            &:hover i{
                transform: translateY(10px);
            }
            i{
                color:$secondaryColorTrans;
                margin-bottom: 1.5rem;
                font-size: 6rem;
            }
            h5{
                color:$secondaryColor+cc;
                padding-bottom: .5rem; 
                text-transform: uppercase;   
            }
            ul{
                li{
                    font-family: "poppins-light";
                    margin-bottom: 0;
                    line-height: 1.4rem;
                }
            }
        }
    }
}


/**********************Our Prices***********************/
.priceCont{

    p{
        line-height: 1.5rem;
        @media screen and (max-width:575px) {
            margin-bottom:5px;
            font-size: 1.1rem;
        }
        &.halfBorder:before{
            border-bottom:2px dotted $secondaryColor !important;
            bottom:-30%;
            width:50%;
            @media screen and (max-width:575px) {
               bottom:-10%;
               width: 0%;
            }
        }
    }
    q{
        font-size: 2.2rem;
        text-transform: uppercase;
        @media screen and (max-width:575px) {
            font-size: 1.5rem;
        }
    }

    button{
        padding:3px 15px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1.1rem;
        @media screen and (max-width:575px) {
            margin-top: .5rem;
            font-size: 1rem;
        }
    }
    .price-item{
        background-color: #de7881;
        border-radius:20px;
        padding:1.5rem 0;
        text-align: center;
        font-family: "poppins-extraLight" !important;
        @include transition(all .35s cubic-bezier(0.56, 0.09, 0.63, 0.98));
        @media screen and (max-width:991px) {
            margin-top: 3rem;
        }
        &:hover{
            transform: translateY(5px);
            background-color: #00000022;    
        }

        h5{
            background-color: $secondaryColor;
            margin:0 auto 1.5rem;
            text-transform: uppercase;
            padding-top:3px;
            padding-bottom: 3px;
            font-family: "poppins-extraLight";
            
        }
        .price{
            margin-top: 3rem;
            margin-bottom: 1rem;
             strong,span,small{
                display: block;
                text-align: center;
            }
            span{
                font-weight: bolder;
                font-family: "poppins-bold";
                text-transform: uppercase;
                letter-spacing: 1px;
            }
            strong{
                font-size: 4rem;
                margin:10px auto;
                font-weight: 300;
                
            }
            small{
                margin-top: 1rem;
                letter-spacing: 1px;
                font-size: 1rem;
            }
        }
    }
}


/**********************Our Clients***********************/
.clientsCont{   
    .client-item{
        overflow: hidden;
        width:200px;
        margin:auto 1rem;
        display: inline-block;
        div.img{    
            height: 200px;
            background-position: 0px;
            @include transition(all .5s ease-in-out);
            &:hover{
                background-position: -200px;
            }
        }
        .img1{
            background: url('../images/iha-client.png') no-repeat;
        }
        .img2{
            background: url('../images/am-client.png') no-repeat;
        }
        .img3{
            background: url('../images/mat-client.png') no-repeat;
        }
    }
}


/************************Footer*************************/
.footerCont{
    .container-fluid{
        padding-top:3rem;
        padding-bottom: 3rem;
        border-top:2px dotted $marron !important;
        border-bottom:2px dotted $marron !important;
        color:$marron !important;
        div.logo-footer,div.address{
            @media screen and (max-width:1200px) {
                padding-left:15px !important;
                padding-right:15px !important;
            }
        }
        .logo-footer{
            img{
                width:220px;
            }
        }
    a{
        color:$marron;
        margin-right:1.5rem;
        
        i{
            font-size: 1.3rem;
            margin-top:1.225rem;
            &:hover{
                color:$secondaryColor;
                }
            }
        }
        .address{
            text-transform: uppercase;
            @media screen and(max-width:991px) {
                margin-top: 2rem;
            }
            h5{
                font-weight: bold;
                font-size: 1rem;
            }
            .address-item{
                margin-top: 1.225rem;
                p{
                    color:$marron+ee;
                    font-size: 1rem;
                    margin-bottom: 0;
                    font-family: "poppins-light";
                    line-height: 1.4rem;
                }
            }
        }   
    } 

    .copyright{
        p{
            margin-top: 3rem;
            margin-bottom: 0;
            color:$marron+dd;
            font-size: 1.1rem;
            font-family: "poppins-light";
            @media screen and (max-width:767px) {
                font-size:.8rem;
                padding-left:15px;
                padding-right:15px;
            }
        }

    }
}

/**********************offcanvas********************/
body.offcanvas-active{
    overflow: hidden;
}
.offcanvas-header{ 
    display:none; 
    @media all and (max-width:992px) { 
         display:block; 
         .btn-close{
             border:none;
             background-color: transparent;
         }
       }
    }
.screen-overlay {
  height: 100%;
  z-index: 30;
  position: fixed;
  top: 0;
  left: 0;
  opacity:0;
  visibility:hidden;
  background-color: rgba(34, 34, 34, 0.6);
  transition:opacity .2s linear, visibility .1s, width 1s ease-in;
}
.screen-overlay.showCanvas {
  transition:opacity .5s ease, width 0s;
  opacity:1;
  width:100%;
  visibility:visible;
}


.mobile-offcanvas{
    @media screen and (max-width:992px) {
        visibility: hidden;
    transform:translateX(-100%);
    border-radius:0; 
    display:block;
    position: fixed;
    top: 0; left:0;
    height: 100%;
    z-index: 1200;
    width:40%;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: visibility .2s ease-in-out, transform .2s ease-in-out;
    &.showCanvas{
        visibility: visible;
        transform: translateX(0);
        overflow: hidden;
        padding:0;
        .navbar-collapse{
            height: 100%;
            .navbar-nav{
                margin-top: 0 !important;
                height: 100%;
                .nav-item{
                    a{
                        padding-top:5px !important;
                        padding-bottom: 5px !important;
                    }
                }
            }
        }
        
        nav-item{
            animation: bounce; 
      animation-duration: 2s; 
        }
      }
    }
    @media screen and (max-width:576px) {
        width:80%;
    }
  }	
